/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
a,
abbr,
acronym,
address,
applet,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
article {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  font-family: 'ARSMaquette', Helvetica Neue, Arial, sans-serif;
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* fonts */

@font-face {
  font-family: 'ARSMaquette';
  src: url(../fonts/ARSMaquette.ttf) format('truetype');
}

@font-face {
  font-family: 'Avalon';
  src: url(../fonts/Avalon.ttf) format('truetype');
}

/* nav */

.wrapper {
  padding: 0;
  width: 100%;
}

.logo {
  top: 0;
  left: 0;
  height: 50px;
  width: 150px;
  position: absolute;
}

.topmost-navigation {
  height: 30px;
  background-color: #000;
  line-height: 25px;
  padding-left: 10px;
}

.topmost-navigation a {
  color: rgb(116, 111, 111);
  text-decoration: none;
  font-weight: normal;
  font-size: 0.8em;
  display: inline-block;
  margin: 0 5px;
}

.left-float {
  float: left;
}

.right-float {
  float: right;
}

.navbar-nav {
  width: auto;
  height: 50px;
}

.navbar-nav ul,
.navbar-nav li {
  margin: 0;
  padding: 0;
}

.navbar-nav li {
  float: left;
  padding: 4px 0;
  margin-left: 10px;
}

.navbar-nav a {
  text-decoration: none;
  margin: 0 5px;
  font-size: 0.9em;
}

.logo-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 80px;
  background-color: red;
  display: none;
}

.nav-logo {
  top: 20px;
  position: relative;
}

.nav-logo img {
  width: 60px;
  margin-left: 15px;
}

.top-header {
  height: 50px;
  line-height: 36px;
}

.top-header a {
  color: #888;
}

.search-plus-menu {
  width: auto;
  height: 50px;
  background-color: white;
  top: 30px;
  right: 0;
  position: absolute;
}

.menu-btn,
.search-btn {
  width: 50px;
  border-left: solid 1px #ddd;
  text-align: center;
  height: 50px;
  line-height: 50px;
}

.menu-btn {
  color: #f42;
  display: none;
}

.fa-search {
  transform: rotate(90deg);
  color: #ddd;
}

.our-tech-festival_ {
  padding-left: 140px;
  height: 30px;
  line-height: 25px;
  font-size: 0.8em;
  background-color: yellow;
}

.latest-news_ {
  padding-top: 20px;
}

.front_ {
  display: flex;
  height: auto;
  padding: 2px 10px;
}

.main_article_ {
  position: relative;
  background-image: url(../img/index.png);
  background-size: cover;
  height: 500px;
}

.cover-gradient {
  position: absolute;
  height: 500px;
  width: 100%;
  background-image: url(../images/cover-gradient.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 20%;
  z-index: 1000;
}

.main-heading-text {
  background-image: url(../img/front-gradient.png);
  background-position: 50% 50%;
  height: 100%;
  color: #fff;
  padding-left: 20px;
  position: relative;
}

.main-heading-text p.date {
  font-size: 0.9em;
  padding: 20px;
  text-align: right;
}

.magic-logo {
  top: 30px;
  width: 60%;
  z-index: 1200;
  position: absolute;
}

.main-heading-text .date {
  padding-right: 20px;
  width: 94%;
  position: absolute;
  z-index: 1200;
}

.distract {
  font-size: 1em;
  font-weight: lighter;
}

.-heading-text {
  position: absolute;
  bottom: 20px;
}

.main-heading-text h1 {
  font-size: 3.5em;
  font-weight: bolder;
  font-family: 'Avalon', sans-serif;
}

.main-heading-text span {
  font-size: 10px;
  font-weight: lighter;
}

.article-thumb_ {
  width: 35%;
  height: 500px;
}

.article-large_ {
  width: 65%;
  height: 500px;
}

.wrap-details {
  height: 245px;
  margin-left: 10px;
}

.top-article_ {
  background-image: url(../img/mist.jpg);
  background-size: cover;
}

.bottom-article_ {
  margin-top: 9px;
  background-image: url(../img/indexds.png);
  background-size: cover;
}

._details_ {
  background-image: url(../img/front-gradient.png);
  background-position: 50% 50%;
  height: 100%;
  position: relative;
}

._details_ a {
  display: block;
  position: absolute;
  bottom: 10px;
  color: #fff;
  text-decoration: none;
}

._details_ h2 {
  padding: 20px 20px 0 20px;
  font-size: 2em;
  font-weight: bolder;
  font-family: 'Avalon', sans-serif;
}

._details_ p {
  padding: 20px;
  font-size: 12px;
  font-weight: lighter;
}

.clear {
  clear: both;
}

.funding-title div {
  width: 50%;
  padding: 5px 0;
}

.latest-news_ .row div {
  min-height: 200px;
}

.faded_text {
  color: #aaa;
  font-size: 0.75rem;
}

._news- {
  color: #fff;
}

.my-deal-section {
  margin: 45px 60px;
}

.section-title {
  display: flex;
}

.section-title h1 {
  width: 50%;
}

/* headlines */

.headlines {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  margin: 0 2.2rem;
}

.headline {
  margin: 1.5rem 0.8rem;
}

.headline .hl_title {
  padding-bottom: 1rem;
}

.headline .hl_anchor {
  color: #f42;
  font-family: 'Avalon', sans-serif;
  font-size: 1.55rem;
  font-weight: 900;
  text-decoration: none;
}

.headline .hl_anchor:hover {
  color: black;
}

.most_popular {
  position: relative;
}

.most_popular .mp_group {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 0.8rem 1.2rem 1.2rem;
  z-index: 1;
}

.mp_title {
  margin: 0.3rem 0;
}

.most_popular .mp_picture {
  width: 100%;
}

.most_popular .mp_text {
  color: white;
  font-size: 0.8rem;
  line-height: 1.5;
}

.most_popular .mp_title {
  color: white;
  font-family: 'Avalon', sans-serif;
  font-size: 1.25rem;
  line-height: 1.1;
  text-decoration: none;
}

.most_popular .mp_title:hover {
  text-decoration: underline;
}

.most_popular .mp_author {
  color: #999a9b;
  font-size: 0.8rem;
  text-decoration: none;
}

.most_popular .mp_author:hover {
  color: white;
}

.most_popular .fa-circle {
  color: #999a9b;
  font-size: 0.2rem;
  position: relative;
  top: -0.2rem;
}

.most_popular .mp_info {
  color: #999a9b;
  font-size: 0.8rem;
}

.hl_latest {
  color: #f42;
  display: flex;
  justify-content: space-between;
  font-size: 0.85rem;
  background-color: rgba(255, 68, 34, 0.06);
}

.hl_latest .lt_text_container {
  padding: 0.7rem;
}

.hl_latest .lt_title {
  color: #f42;
  font-weight: 700;
  line-height: 1.4;
  text-decoration: none;
}

.hl_latest .lt_title:hover {
  text-decoration: underline;
}

.lt_picture {
  width: 6rem;
}

.hl_list {
  color: #f42;
  font-size: 0.6rem;
  list-style: disc outside;
  margin-left: 1rem;
}

.hl_list .hl_li {
  border-bottom: 1px solid #eee;
  padding: 0.55rem 0;
}

.hl_list .li_anchor {
  color: #555;
  font-size: 0.8rem;
  text-decoration: none;
}

.hl_list .li_anchor:hover {
  color: black;
}

.funding {
  position: relative;
}

.funding img {
  width: 50px;
  position: absolute;
  top: 20px;
  left: 20px;
}

.funding-rounds {
  padding: 40px 80px;
  margin: 80px auto 35px auto;
}

.funds {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto;
}

.round {
  background: rgba(255, 68, 34, 0.03);
  margin: 5px;
}

.funding-title {
  color: #f42;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.funding-links {
  display: flex;
  justify-content: flex-end;
}

.funding-links a {
  color: #f42;
  text-decoration: none;
}

.funding-title h3 {
  width: 50%;
  padding: 5px;
  font-size: 2em;
  font-weight: bolder;
}

.funding-title h1 {
  font-size: 1.2em;
  font-weight: bolder;
  text-align: left;
}

.funding-title span {
  display: inline-block;
  margin: 1px 6px;
  font-weight: normal;
}

.varbar {
  display: inline-block;
  color: #f42;
}

.funder-name {
  color: #fff;
  font-size: 1.1em;
  font-weight: bold;
  background-color: red;
  height: 40px;
  line-height: 35px;
  display: block;
  padding-left: 90px;
}

.figure {
  background: rgba(255, 68, 34, 0.08);
  height: 60px;
  font-size: 0.9em;
  padding-left: 90px;
}

.figure strong {
  font-size: 1.5em;
  font-weight: bolder;
  display: inline-block;
  padding-bottom: 6px;
  padding-top: 6px;
}

.figure span {
  color: #888;
}

.round .-payment {
  height: 50px;
  font-weight: normal;
  padding: 20px 20px;
  color: #888;
}

.-payment span {
  font-weight: normal;
}

.-payment .fa-briefcase,
.-payment .fa-tag {
  color: #000;
}

.round .-payment span {
  display: inline-block;
  margin-bottom: 8px;
}

.round .-details {
  color: #888;
  height: 50px;
  border-top: 1px solid rgba(255, 68, 34, 0.25);
  font-size: 0.7em;
  font-weight: normal;
  padding-left: 20px;
  padding-top: 10px;
  line-height: 16px;
}

.round .-details span {
  color: #ccc;
}

/* deals */

.deals_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 1.3rem;
}

.deals_header .dl_anchor {
  color: #f42;
  display: flex;
  flex: 1;
  font-family: 'Avalon', sans-serif;
  font-size: 1.55rem;
  font-weight: 900;
  text-decoration: none;
}

.deals_header .dl_anchor:hover {
  color: black;
}

.deals_header .right {
  color: #f42;
  display: flex;
  flex: 1;
  justify-content: flex-end;
  font-size: 1rem;
  font-weight: 100;
  text-decoration: none;
}

.deals_header .right:hover {
  color: black;
}

.deals {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto;
  margin: 0.8rem 0.5rem;
}

.deal {
  margin: 0.8rem;
}

.deal .dl_picture {
  width: 100%;
}

.deal .description {
  color: black;
  display: block;
  font-family: 'Avalon', sans-serif;
  font-size: 0.91rem;
  font-weight: 700;
  line-height: 1.1rem;
  padding: 0.5rem 0.1rem 0.3rem;
  text-decoration: none;
}

.deal .description:hover {
  color: #f42;
}

.deal .old_price {
  color: #aaa;
  font-size: 0.75rem;
  text-decoration: line-through;
}

.deal .new_price {
  color: #555;
  font-size: 0.9rem;
}

/* footer */

.main_footer {
  background-color: #131313;
  font-size: 0.8rem;
  font-weight: 700;
  text-align: center;
  padding: 2.3rem 0;
}

.icons {
  margin-bottom: 2.5rem;
}

.icons .ic_anchor {
  border-radius: 50%;
  background-color: #333;
  color: white;
  font-size: 1.1rem;
  padding: 0.7rem;
  margin: 0 0.45rem;
}

.links .lk_anchor {
  color: #aaa;
  font-size: 0.75rem;
  font-weight: 100;
  text-decoration: none;
  margin: 1rem 0.3rem;
}

.links .lk_anchor:hover {
  color: white;
}

.credits {
  background-color: black;
  color: #9a9a9a;
  font-size: 0.8rem;
  text-align: center;
  padding: 2.5rem 0;
}

.credits .cd_text {
  display: inline-block;
  padding: 0.2rem 0;
}

.credits .tnw_logo {
  height: 0.6rem;
}

.credits .fa-heart {
  color: #f42;
  font-size: 0.55rem;
}

.credits .stackpath {
  display: inline-block;
  height: 0.6rem;
}

/* queries */

@media (max-width: 1000px) {
  /* Funding */

  .funds {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
  }

  .funding-title {
    display: block;
  }

  .-payment {
    font-size: 0.8em;
  }

  .-details {
    font-size: 0.7em;
  }

  .funding-links {
    display: flex;
    justify-content: flex-start;
  }

  .funding-title h1 {
    width: 100%;
    padding: 5px;
    font-size: 1.5em;
    font-weight: bolder;
  }

  .funding-title div {
    width: 100%;
    padding: 5px 0;
  }

  .funding-rounds {
    padding: 10px;
    margin: auto;
  }

  .my-deal-section {
    margin: 0;
  }

  /* dispaly red fixed logo */

  .logo-container {
    display: block;
  }

  /* Reposition logo text remove the large white logo */

  .nav-logo {
    top: 20px;
    position: relative;
  }

  .magic-logo {
    display: none;
  }

  /* reposition navbar and hide some links hide some links */

  .navbar-nav .latest,
  .left-float ._news- {
    padding-left: 100px;
  }

  .neutral,
  .growth-quaters {
    display: none;
  }

  /* others */

  .menu-btn {
    display: block;
  }

  .main-heading-text h1 {
    font-size: 2.5em;
  }

  ._details_ h2 {
    font-size: 1.4em;
  }

  .wrap-details {
    height: 190px;
  }

  .cover-gradient,
  .main-heading-text .date {
    display: none;
  }

  .main_article_ {
    height: 389px;
  }

  /* healines */

  .headlines {
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;
    margin: 0;
  }

  /* deals */

  .deals {
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
  }
}

@media (max-width: 750px) {
  /* Change position and height of red logo */

  .logo-container {
    display: block;
    height: 50px;
    padding-top: 0;
  }

  /* reposition logo text */

  .nav-logo {
    top: 10px;
    position: relative;
  }

  /* Reposition the main articles */

  .front_ {
    display: block;
  }

  .article-large_ {
    width: 100%;
    height: auto;
  }

  .main_article_ {
    height: 190px;
  }

  .top-article_ {
    margin-top: 10px;
  }

  .wrap-details {
    margin-left: 0%;
  }

  .article-thumb_ {
    width: 100%;
  }

  ._details_ h2,
  .main-heading-text h1 {
    font-size: 1.1em;
  }

  .our-tech-festival_ {
    padding-left: 10px;
    font-size: 0.7em;
  }

  .funding-links {
    display: block;
  }

  .funding-links span {
    display: block;
    margin: 7px 4px;
  }

  .funds {
    display: block;
  }

  .funds .round {
    margin-bottom: 15px;
  }

  .funding-rounds {
    padding: 10px;
    margin: auto;
  }

  .varbar {
    display: none;
  }

  /* hide the nav bar */

  .navbar-nav,
  .topmost-navigation {
    display: none;
  }

  .search-plus-menu {
    top: 0;
    right: 0;
  }

  .menu-btn {
    display: block;
  }

  .headlines {
    grid-template-columns: auto;
    margin: 0;
  }

  /* deals */

  .deals {
    grid-template-columns: auto;
  }

  .deal {
    display: flex;
    flex-direction: row;
    margin: 0.5rem 0.8rem;
  }

  .deal .dl_picture {
    width: 5rem;
  }

  .deal div {
    margin-left: 0.5rem;
  }

  .deal .description {
    padding: 0 0 0.3rem;
  }

  /* footer */

  .credits {
    padding: 2rem 0;
  }

  .credits .cd_text {
    display: block;
  }
}
