/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  font-family: 'ARSMaquette', Helvetica Neue, Arial, sans-serif;
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* fonts */

@font-face {
  font-family: 'ARSMaquette';
  src: url(../fonts/ARSMaquette.ttf) format('truetype');
}

@font-face {
  font-family: 'Avalon';
  src: url(../fonts/Avalon.ttf) format('truetype');
}

/* YOUR CODE HERE */


body {
  background-color: red;
}

/* deals */

.deals_section {
  margin: 5rem 0;
}

.deals_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 1.3rem;
}

.deals_header .anchor {
  color: #f42;
  display: flex;
  flex: 1;
  font-family: 'Avalon', sans-serif;
  font-size: 1.55rem;
  font-weight: 900;
  text-decoration: none;
}

.deals_header .anchor:hover {
  color: black;
}

.deals_header .right {
  color: #f42;
  display: flex;
  flex: 1;
  justify-content: flex-end;
  font-size: 1rem;
  font-weight: 100;
  text-decoration: none;
}

.deals_header .right:hover {
  color: black;
}

.deals {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto;
  margin: 0.8rem 0.5rem;
}

.deal {
  margin: 0.8rem;
}

.deal .picture {
  width: 100%;
}

.deal .description {
  color: black;
  display: block;
  font-family: 'Avalon', sans-serif;
  font-size: 0.91rem;
  font-weight: 700;
  line-height: 1.1rem;
  padding: 0.5rem 0.1rem 0.3rem;
  text-decoration: none;
}

.deal .description:hover {
  color: #f42;
}

.deal .old_price {
  color: #aaa;
  font-size: 0.75rem;
  text-decoration: line-through;
}

.deal .new_price {
  color: #555;
  font-size: 0.9rem;
}

/* footer */

.main_footer {
  background-color: #131313;
  font-size: 0.8rem;
  font-weight: 700;
  text-align: center;
  padding: 2.3rem 0;
}

.icons {
  margin-bottom: 2.5rem;
}

.icons .anchor {
  border-radius: 50%;
  background-color: #333;
  color: white;
  font-size: 1.1rem;
  padding: 0.7rem;
  margin: 0 0.45rem;
}

.links .anchor {
  color: #aaa;
  font-size: 0.75rem;
  font-weight: 100;
  text-decoration: none;
  margin: 1rem 0.3rem;
}

.links .anchor:hover {
  color: white;
}

.credits {
  background-color: black;
  color: #9a9a9a;
  font-size: 0.8rem;
  text-align: center;
  padding: 2.5rem 0;
}

.credits .text {
  display: inline-block;
  padding: 0.2rem 0;
}

.credits .tnw_logo {
  height: 0.6rem;
}

.credits .fa-heart {
  color: #f42;
  font-size: 0.55rem;
}

.credits .stackpath {
  display: inline-block;
  height: 0.6rem;
}

/* queries */

@media (max-width: 1000px) {
  .deals {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
  }
}

@media (max-width: 750px) {
  .deals {
    grid-template-columns: auto;
  }

  .deal {
    display: flex;
    flex-direction: row;
    margin: 0.5rem 0.8rem;
  }

  .deal .picture {
    width: 5rem;
  }

  .deal div {
    margin-left: 0.5rem;
  }

  .deal .description {
    padding: 0 0 0.3rem;
  }

  /* footer */

  .credits {
    padding: 2rem 0;
  }

  .credits .text {
    display: block;
  }
}
