/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote::before, blockquote::after,
q:before, q::after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* YOUR CODE HERE */


body {
  background-color:#fff;
}

.wrapper {
  padding: 0;
  width: 100%;
}

.logo {
  top: 0;
  left: 0;
  width: 110px;
  position: fixed;
  height: 50px;
}

.logo {
  width:150px;
  position: absolute;
}

.logo-container {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100px;
  height: 56px;
  background-color: red;
}

.top-header {
  padding-left: 90px;
}

.top-header a{
  color:#888;
  font-size: 1em;
}

.our-tech-festival_ {
  padding-left: 140px;
  height: 20px;
  line-height: 20px;
  font-size: .8em;
  background-color:yellow;
}

.front_{
  height: 440px;
}

.front_ .video-large_ {
  float: left;
  width: 65%;
  height: 440px;
  background-color: darkorchid;
}

.front_ .video-thumb_ {
  float: right;
  width: 35%;
  height: 440px;
  background-color: darkturquoise;
  padding: 2px;;
}

.video-thumb_ div {
 height:219px;
background-color: deeppink;
}

.latest-news_ .row div {
  min-height: 200px;
}

.latest-news_ .col-sm div {
   height: 240px;
   background-image: url(images/images-1.jpg);
}


 